APP_NAME="Laravel Boilerplate"
APP_ENV=local
APP_KEY=
APP_URL=http://localhost

# Debug
APP_DEBUG=true
APP_LOG_LEVEL=debug
# eMail recipient list (comma separated)
APP_DEBUG_EMAILS=null

# i18n
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_ADDITIONAL_LOCALES=null

DB_CONNECTION=mysql
# Database host IP od DNS name (e.g. 127.0.0.1, localhost, mysql (for docker-compose))
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel_boilerplate
DB_USERNAME=root
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync

# Broadcasting
PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=
REDIS_PORT=6379

# Mail
MAIL_DRIVER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=

# AWS S3
#AWS_KEY=
#AWS_SECRET=
#AWS_DEFAULT_REGION=
#AWS_BUCKET=

# Socialite Providers
#FACEBOOK_CLIENT_ID=
#FACEBOOK_CLIENT_SECRET=
#FACEBOOK_REDIRECT=

#BITBUCKET_CLIENT_ID=
#BITBUCKET_CLIENT_SECRET=
#BITBUCKET_REDIRECT=

#GITHUB_CLIENT_ID=
#GITHUB_CLIENT_SECRET=
#GITHUB_REDIRECT=

#GOOGLE_CLIENT_ID=
#GOOGLE_CLIENT_SECRET=
#GOOGLE_REDIRECT=

#LINKEDIN_CLIENT_ID=
#LINKEDIN_CLIENT_SECRET=
#LINKEDIN_REDIRECT=

#TWITTER_CLIENT_ID=
#TWITTER_CLIENT_SECRET=
#TWITTER_REDIRECT=

# reCAPTCHA
INVISIBLE_RECAPTCHA_SITEKEY=
INVISIBLE_RECAPTCHA_SECRETKEY=
INVISIBLE_RECAPTCHA_BADGEHIDE=false
INVISIBLE_RECAPTCHA_DEBUG=false

# Labs64 NetLicensing
NETLICENSING_USERNAME=laravel
NETLICENSING_PASSWORD=laravel
# obtained via https://ui.netlicensing.io/#/settings
NETLICENSING_APIKEY=2e4cbe88-662a-48f9-b5e4-9226f17b2e4d
NETLICENSING_SECURITY_MODE=APIKEY
# Demo product
NETLICENSING_PRODUCT_NUMBER=LB-DEMO
# Demo product module
NETLICENSING_PRODUCT_MODULE_NUMBER=LB-SUBSCRIPTION-PLAN
