!.gitkeep

# Laravel, nodeJS, Bower, Gulp, Composer exclusions
.htaccess
/vendor
/node_modules
/bower_components
/storage

composer.phar
composer.lock
phpunit.phar
/public/thumbnails
/public/sitemap.xml
/public/assets
/public/rev-manifest.json
/bootstrap/cache
/bootstrap/compiled.php

.env
.env.*.php
.env.php
.sass-cache

# IDE exclusions
.DS_Store
Thumbs.db
.idea
_ide_helper.php
.phpstorm.meta.php
*.sqlite
.rocketeer/
