!.gitkeep

# Laravel, nodeJS, Bower, Gulp exclusions
vendor/
node_modules/
bower_components/
bootstrap/compiled.php
bootstrap/cache/
app/storage/
storage/debugbar/
.env.*.php
.env.php
.env
.sass-cache
public

# Rocketeer PHP task runner exclusions
.rocketeer/

# IDE exclusions
.idea
_ide_helper.php
.phpstorm.meta.php

# Composer
composer.phar
composer.lock
